<!DOCTYPE html>
<html>
    <head>
        <title>Booking Page</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <meta charset="UTF-8">
        <link rel="icon" href="SCE%20ROOM.png">
    </head>
    <body>
        <h1>SCE ROOM</h1>
        <h2 id="welcome" hidden>Welcome</h2>
       <h2>Booking</h2>
        <%- include("./partials/logout.ejs") %>
          <div id = "booking" class= "container2">

              <label for = "price" id = "price" value= "<%= unit.data().price %>">Price per month: <%= unit.data().price %> </label><br>
              <label for = "address" id = "address"> Address: city: <%= unit.data().city %> <br>
                street: <%= unit.data().street %> <br>
                house number: <%= unit.data().house_number %>  </label><br>
              <label>rent range(in months): <%= unit.data().min_rent_time %>
                - <%= unit.data().max_rent_time %> </label><br>
              <input id="rent_time_min" value= "<%= unit.data().min_rent_time %>" style="display: none;visibility: hidden;">
              <input id="rent_time_max" value= "<%= unit.data().max_rent_time %>" style="display: none;visibility: hidden;">
                <form id="bookingForm">
                    <br><br><br>
                    <label>min rent date</label>
                    <input  min="1" max="12" type="number" name='min_month' id='min_month' value="1" placeholder="1" required>
                    <input  type=number min="2020" max="2030" name='min_year' id='min_year' value="2020" placeholder="2020" required><br>
                    <label>max rent date</label>
                    <input  min="1" max="12" type="number" name='max_month' id='max_month' value="2" placeholder="2" required>
                    <input  type=number min="2020" max="2030" name='max_year' id='max_year' value="2020" placeholder="2020" required><br>
                    <label>Total price:</label>
                    <input  id="totPrice" type="number" name="totalPrice" value="<%= unit.data().price %>" disabled><br>
                    <label for = "Credit card number">Credit Card Number: </label>
                    <input id="credit_card" placeholder = "1234567891234567" type="text" name="CreditCardNumber" pattern="^[0-9]{16}$" required><br>
                    <label for = "Expiration date">Expiration Date: </label>
                    <input min="1" max="12" type="number" name='expireMM' id='expireMM' value="01" placeholder="01" required>
                    <input type=number min="2020" max="2027" name='expireYY' id='expireYY' value="2020" placeholder="2020" required>
                    <input class="inputCard" type="hidden" name="expiry" id="expiry" maxlength="4" required><br>
                    <label for = "CVC">CVC</label>
                    <input placeholder="CVC" type="text" name="CVC" pattern=^[0-9]{3}$ required><br>
                    <label for = "ID">ID: </label>
                    <input placeholder="ID" type="text"  name="ID" required><br><br>
                    <input  type="text" name="unit_id" value= "<%= unit.id %>" style="display: none;visibility: hidden;">
                    <input  id="SendUId" type="text" name="student_id" value="none" style="display: none;visibility: hidden;">
                    <input type = "submit" class= "button" value = "Checkout"><br><br>
                </form>
                <button class="button" onclick="goBack()">Back</button>

       </div>
      <%- include("./partials/firebase.ejs") %>
      <script type="text/javascript" src="../user.js"></script>
      <script type="text/javascript" src="../Payment Validation.js"></script>
      <script>
        auth.onAuthStateChanged(function(user) {
          if (user && auth.currentUser )
              document.getElementById("SendUId").value=auth.currentUser.uid
        })
        function goBack() {
          window.history.back()
        }
      </script>

    </body>

</html>
