<!DOCTYPE html>
<html>
    <head>
        <title>homepage</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" type="text/css" href="../css/modal.css">
        <meta charset="UTF-8">
        <link rel="icon" href="SCE%20ROOM.png">
    </head>
    <body>
        <%- include("./partials/logout.ejs") %>
        <h1>SCE Room</h1>
        <h2 id="welcome">Welcome</h2>
        <button class="modalButton">Post housing unit</button><br>
        <button class="modalButton">Add Attraction</button><br>
        <form method="post" action="/homepage_renter/manage">
          <input  class="SendRId" type="text" name="user_id" value=RetriveUId()" style="display: none;visibility: hidden;">
          <button type="submit" class="button">Your housing units</button><br>
        </form>
        <form method="post" action="/homepage_renter/user_reviews">
          <input  class="SendRId" type="text" name="user_id" value=RetriveUId()" style="display: none;visibility: hidden;">
          <button type="submit" class="button">Watch Reviews about me</button><br>
        </form>
        <form method="post" action="/homepage_renter/your_orders">
          <input  class="SendRId" type="text" name="user_id" value=RetriveUId() style="display: none;visibility: hidden;">
          <button type="submit" class="button">View housing units orders</button><br>
        </form>
        <form method="post" action="/homepage_renter/statistics">
            <input  class="SendRId" type="text" name="user_id" value=RetriveUId() style="display: none;visibility: hidden;">
            <button type="submit" class="button">View statistics</button><br>
        </form>

        <!-- The authorizing Modal -->
        <div class="modal">
          <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Post housing Unit</h2>
              </div>
              <div class="modal-body">
                  <form id="addHousingForm" method="post" action="/homepage_renter/post_housing_unit">
                      <label for="city">city</label>
                      <input placeholder="city" type="text" name="city" required><br><br>
                      <label for="street">street</label>
                      <input placeholder="street" type="text"  name="street" required><br><br>
                      <label for="house_number">house_number</label>
                      <input placeholder="house_number" type="text" name="house_number" required><br><br>
                      <label for="price">price per month</label>
                      <input min="0" placeholder="price" type="number" name="price" required><br><br>
                      <label for="phone">contact number</label>
                      <input type="tel" id="phone" name="phone" placeholder="phone" required><br><br>
                      <label for="rooms_num">number of rooms</label>
                      <input min="1" placeholder="number of rooms" type="number" name="rooms_num" required><br><br>
                      <label for="rent range">rent months range (min/max)</label>
                      <input min="0" placeholder="min" type="number" name="min_rent_time" value=0 required>&nbsp;
                      <input min="1" placeholder="max" type="number" name="max_rent_time" value=1 required><br><br>
                      <label for="description">description</label><br>
                      <textarea rows="10" cols="50" placeholder="description" type="text" name="description"></textarea><br><br>
                      <label for="img">Add housing unit photo(s)</label>
                      <input id="house_img" type="file" name="images" accept="image/*" multiple><br>
                      <label><br>if you want to add multiple photos select more with the ctrl key</label>
                      <div>
                          <label for= "attraction"> select attractions to add</label><br>
                          <select name="attractions" multiple>
                          <% for(var i=0;i<Attractions.length;i++) { %>
                            <option class="attr_options" type="text" name= <%= "Attraction" + i %>
                             value="<%=Attractions[i].id%>">
                             <%=Attractions[i].data().attraction_name%></option>
                          <%}%>                      
                      </div><br>
                      <input  class="SendRId" type="text" name="user_id" value=RetriveUId() style="display: none;visibility: hidden;">
                      <input id="postHouseButton" class= "button" type="submit" value="Post">
                  </form>
              </div>
            </div>
        </div>
        <!-- The add attractions Modal -->
        <div class="modal">
          <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Add Attraction</h2>
              </div>
              <div class="modal-body">
                  <form id="addAttraction" method="post" action="/homepage_renter/add_attraction">
                      <label for="name">attraction name</label>
                      <input placeholder="attraction_name" type="text" name="attraction_name" required><br><br>
                      <label for="discounts">bonus discounts</label><br>
                      <textarea name="discounts" rows="5" cols="50" placeholder="discounts" type="text"></textarea><br><br>
                      <label for="img">Add attraction unit photo(s)
                      <br>(if you want to add multiple photos select more with the ctrl key)</label>
                      <input id="attr_img" type="file" name="images" accept="image/*" multiple><br><br>
                      <% for(var i=0;i<Attractions.length;i++) { %>
                        <!-- passing the attraction names as hidden parameter -->
                      <% let name= Attractions[i].data().attraction_name %>
                        <input type="text" name= <%= "Attraction" + i %>
                         value="<%=name%>"  style="display: none;visibility: hidden;">
                      <%}%>
                      <input name="attr_num" type="text" value=<%= Attractions.length %> style="display: none;visibility: hidden;">
                      <input id="addAttractionButton" class= "button" type="submit" value="Add">
                  </form>
              </div>
            </div>
        </div>

        <%- include("./partials/firebase.ejs") %>
        <script type="text/javascript" src="../firebase/signout.js"></script>
        <script type="text/javascript" src="../Utility/modal.js"></script>
        <script type="text/javascript" src="../Utility/user.js"></script>
        <script type="text/javascript" src="../pageScripts/renter.js"></script>
        <!--<script> getRId(){return auth.currentUser.uid}</script> -->
          <script>
            auth.onAuthStateChanged(function(user) {
              /* sends a hidden user ID element to an html value
              to identify with the server side. */
              if (user && auth.currentUser )
                  var Rid=document.getElementsByClassName("SendRId")
                  Array.prototype.forEach.call(Rid,((id) => {
                    id.value=auth.currentUser.uid
                  }) //closes the inner function
                ) //closes the call function
            }) //closes the script
          </script>
      </body>
