<!DOCTYPE html>
<html>
    <head>
        <title>homepage</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" type="text/css" href="../css/modal.css">
        <link rel="stylesheet" type="text/css" href="../css/table.css">
        <meta charset="UTF-8">
        <link rel="icon" href="SCE%20ROOM.png">
    </head>
    <body>
        <%- include("./partials/logout.ejs") %>
        <% function refAttr(ref)
         {
           if (ref == null) {
             return {username: "None"} //put here all the attributes you want to cover
           }
           // ref path is divided by a "/ and contains the collection name and the unique id
           let database=locals[ref.path.split("/")[0]]
           for (var i=0;i<database.length;i++) {
             if (database[i].id == ref.path.split("/")[1] ) { //if found the specific id (which is unique)
                return database[i].data()
              }
            }
        }%>
        <h1>SCE Room</h1>
        <h3 id="welcome"></h3>
        <h2>Available Housing Units For Rent</h2>
        <button class="modalButton">Write review</button><br>
        <!-- The review Modal -->
        <div class="modal">
          <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Write Review</h2>
              </div>
              <div class="modal-body">
                <ul>
                  <form method="post" action="/homepage_student/write_review">
                      <label for="renter">renter</label>
                      <select name="renter_id" id="renter_display" type="text" placeholder="renter_name" required>
                        <% for(var i=0;i<Users.length;i++) {
                          if(Users[i].data().usertype=="renter") {
                            %><option value=<%=Users[i].id%>><%=Users[i].data().username%></option> <%
                          }
                        }%>
                      </select><br><br>
                      <label for="reviews">review</label><br>
                      <textarea rows="10" cols="50" placeholder="review body.." type="text" name="review_body"></textarea><br><br>
                      <input  id="SendUId" type="text" name="student_id" value="none" style="display: none;visibility: hidden;">
                      <input class= "button" type="submit" value="Post">
                  </form>
                </ul>
              </div>
            </div>
        </div>
        <h3>Sort</h3>
            <select name="sort" placeholder="Sort" onclick="if (typeof(this.selectedIndex) != 'undefined') onSortItemClick(this.selectedIndex)">
                <option value="city ascending">sort by city ascending</option>
                <option value="city descending">sort by city descending</option>
                <option value="price ascending">sort by price ascending</option>
                <option value="price descending">sort by price descending</option>
                <option value="rooms_num ascending">sort by number of rooms ascending</option>
                <option value="rooms_num descending">sort by number of rooms descending</option>
            </select><br><br>
        <!-- <ul id="unit-list"></ul> -->
        <% let time = new Date(1970, 0, 1) // Epoch %>
        <table id="unitsTable">
          <tr>
            <th>Address</th>
            <th>Price per month</th>
            <th>Number Of Rooms</th>
            <th>...</th>
          </tr>
          <% for (var i=0 ;i < Units.length;i++) { %>
              <% if(Units[i].data().available) { %>
                <tr>
                  <td><%= (Units[i].data().city + " street: " + Units[i].data().street
                    + " number: " + Units[i].data().house_number)  %></td>
                  <td><%= Units[i].data().price %></td>
                  <td><%= Units[i].data().rooms_num %></td>
                  <td><button class="modalButton">More Details</button> </td>
                </tr>
                <!-- per unit modal -->
                <div class="modal">
                  <!-- Modal content -->
                    <div class="modal-content">
                      <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>More details</h2>
                      </div>
                      <div class="modal-body">
                        <img alt="housing unit image"
                         src=<%= Units[i].data().images[0] %> width="100" height="100">  <br>
                          <label>address :<%= (Units[i].data().city + " street: " + Units[i].data().street
                            + " number: " + Units[i].data().house_number)  %></label><br>
                          <label>price per month: <%= Units[i].data().price %></label><br>
                          <label>number of rooms: <%= Units[i].data().rooms_num %></label><br>
                          <label>rent range(in months): <%= Units[i].data().min_rent_time %> - <%= Units[i].data().max_rent_time %> </label><br>
                          <label> description: <%= Units[i].data().description%></label><br>
                          <h3> contact info</h3>
                          <label> name: <%= refAttr(Units[i].data().user_id).username%></label><br>
                          <label> phone: <%= Units[i].data().phone%></label><br>
                          <label> email: <%= refAttr(Units[i].data().user_id).email%></label><br>
                          <form method="post" action="/homepage_student/order">
                              <input type="text" name="unitID" value="<%=Units[i].id%>" style="display: none;visibility: hidden;">
                              <input type="submit" class="button" value="Order">
                          </form>
                          <h3>Additional images:</h3>
                          <% for (var j=1 ;j<Units[i].data().images.length;j++) { %>
                            <img alt="more housing unit image" src= <%= Units[i].data().images[j] %> width="200" height="200">
                        <% } %>
                          <h3>Attractions:</h3>
                          <ul>
                          <%
                          if(Units[i].data().attractions) { //backward compatibility for units without attractions.
                            for (var j=0 ;j < Units[i].data().attractions.length;j++) { %>
                              <li>
                                  <% let attraction=refAttr(Units[i].data().attractions[j]) %>
                                  Attraction name: <%=attraction.attraction_name%> <br>
                                  Bonus discounts: <%=attraction.discounts%> <br>
                                  Pictures: <%for(var k=0; k<attraction.images.length;k++) { %>
                                    <img src= <%=attraction.images[k]%> width="100" height="100">
                                  <%}%>
                             </li>
                            <% } %>
                        <% } %>
                         </ul>
                          <h3>Reviews about the renter:</h3>
                            <ul>
                            <% for (var j=0 ;j < Reviews.length;j++) { %>
                                <% if(refAttr(Reviews[j].data().renter_id).uid ==
                                refAttr(Units[i].data().user_id).uid) { %>
                                  <li>written by: <%=refAttr(Reviews[j].data().student_id).username%> <br>
                                    about:<%=refAttr(Reviews[j].data().renter_id).username%> <br>
                                    <% time.setSeconds(Reviews[j].data().timestamp._seconds)%>
                                    at:<%=time %><br>
                                    body:<%=Reviews[j].data().review_body%><br>
                              <%  } %>
                            <% } %>
                              </li>
                            </ul>
                      </div>
                    </div>
                </div>
          <%  } %>
          <% } %>

        <%- include("./partials/firebase.ejs") %>
        <script type="text/javascript" src="../firebase/signout.js"></script>
        <script type="text/javascript" src="../Utility/modal.js"></script>
        <script type="text/javascript" src="../Utility/user.js"></script>
        <script type="text/javascript" src="../Utility/table_sort.js"></script>
        <script>
          auth.onAuthStateChanged(function(user) {
            /* sends a hidden user ID element to an html value
            to identify with the server side. */
            if (user && auth.currentUser )
                document.getElementById("SendUId").value=auth.currentUser.uid
          })
        </script>


    </body>
