<!DOCTYPE html>
<html>
    <head>
        <title>homepage_admin</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" type="text/css" href="../css/modal.css">
        <meta charset="UTF-8">
        <link rel="icon" href="SCE%20ROOM.png">
    </head>
     <body>
         <h1>Home Page</h1>
         <h2 id="welcome">Welcome</h2>
        <%- include("./partials/logout.ejs") %>
        <% function refAttr(ref)
         {
           if (ref == null) {
             return {username: "None"} //put here all the attributes you want to cover
           }
           // ref path is divided by a "/ and contains the collection name and the unique id
           let database=locals[ref.path.split("/")[0]]
           for (var i=0;i<database.length;i++) {
             if (database[i].id == ref.path.split("/")[1] ) { //if found the specific id (which is unique)
                return database[i].data()
              }
            }
        }%>
        <button class="modalButton">Student authorization</button><br>
        <button class="modalButton">user access menu</button><br>
        <button class="modalButton">delete reviews</button><br>
        <button class="modalButton">View housing units</button><br>
        <!-- The authorizing Modal -->
        <div class="modal">
          <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Student authorization</h2>
              </div>
              <div class="modal-body">
                <ul>
                  <% for(var i=0;i<Users.length;i++ ){
                        if (Users[i].data().usertype=="student") { %>
                            <li>first name: <%=Users[i].data().fname%>
                              last name:<%=JSON.stringify(Users[i].data().lname)%>,
                              username:<%=JSON.stringify(Users[i].data().username)%><br>,
                              email:<%=JSON.stringify(Users[i].data().email)%>
                              image link:<a href=<%=Users[i].data().img%>> ID</a>
                              <form method="post" action="/homepage_admin/enable">
                                  <input type="text" name="uid" value="<%=Users[i].id %>" style="display: none;visibility: hidden;">
                                  <input type="submit" class="button" value="enable">
                              </form>
                            </li>
                      <% }
                     } %>
                </ul>
              </div>
            </div>
        </div>
        <!-- The banning Modal -->
        <div class="modal">
          <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <span class="close">&times;</span>
                <h2>ban/unban menu</h2>
              </div>
              <div class="modal-body">
                <ul>
                  <% for(var i=0;i<Users.length;i++){%>
                            <li>first name: <%=JSON.stringify(Users[i].data().fname)%>
                              last name:<%=JSON.stringify(Users[i].data().lname)%>,
                              username:<%=JSON.stringify(Users[i].data().username)%><br>,
                              email:<%=JSON.stringify(Users[i].data().email)%>
                              <form method="post" action="/homepage_admin/ban">
                                  <input type="text" name="uid" value="<%=Users[i].id%>" style="display: none;visibility: hidden;">
                                  <input type="submit" class="button" value="ban">
                              </form>
                              <form method="post" action="/homepage_admin/enable">
                                  <input type="text" name="uid" value="<%=Users[i].id%>" style="display: none;visibility: hidden;">
                                  <input type="submit" class="button" value="unban">
                              </form>
                            </li>
                     <% } %>
                </ul>
              </div>
            </div>
        </div>
        <!-- The delete reviews Modal -->
        <div class="modal">
          <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Delete Reviews</h2>
              </div>
              <div class="modal-body">
                <ul>
                <% let time = new Date(1970, 0, 1) // Epoch
                   for(var i=0;i<Reviews.length;i++ ){%>
                            <li>written by: <%=refAttr(Reviews[i].data().student_id).username%> <br>
                              about:<%=refAttr(Reviews[i].data().renter_id).username%> <br>
                              <% time.setSeconds(Reviews[i].data().timestamp._seconds)%>
                              at:<%=time %><br>
                              body:<%=JSON.stringify(Reviews[i].data().body)%><br>
                              <form method="post" action="/homepage_admin/rmv_review">
                                  <input type="text" name="rid" value="<%=Reviews[i].id%>" style="display: none;visibility: hidden;">
                                  <input type="submit" class="button" value="delete">
                              </form>
                            </li>
                     <% } %>
                </ul>
              </div>
            </div>
        </div>
        <div class="modal">
          <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Housing Units</h2>
              </div>
              <div class="modal-body">
                <ul>
                <%for(var i=0;i<Units.length;i++ ){%>
                            <li>available:<%=JSON.stringify(Units[i].data().available)%><br> <!-- for future: make it a V -->
                              belongs to: <%=refAttr(Units[i].data().user_id).username%> <br>
                              currently renting: <%=refAttr(Units[i].data().student).username%>  <br>
                              image: <%=JSON.stringify(Units[i].data().image)%><br>
                              city: <%=JSON.stringify(Units[i].data().city)%><br>
                              street: <%=JSON.stringify(Units[i].data().street)%><br>
                              house number:<%=JSON.stringify(Units[i].data().house_number) %><br>
                              rooms_num:<%=JSON.stringify(Units[i].data().rooms_num)%><br>
                              price per month:<%=JSON.stringify(Units[i].data().price)%><br>
                              phone:<%=JSON.stringify(Units[i].data().phone)%><br>
                              time_limit (in months):<%=JSON.stringify(Units[i].data().min_rent_time + " to "
                              + Units[i].data().max_rent_time)%><br>                              
                            </li>                    
                     <% } %>
                </ul>
              </div>
            </div>
        </div>
        <%- include("./partials/firebase.ejs") %>
        <script type="text/javascript" src="../modal.js"></script>
        <script type="text/javascript" src="../user.js"></script>
    </body>
