<!DOCTYPE html>
<html>
    <head>
        <title>Manage units</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" type="text/css" href="../css/modal.css">
        <link rel="stylesheet" type="text/css" href="../css/table.css">
        <meta charset="UTF-8">
        <link rel="icon" href="SCE%20ROOM.png">
    </head>
    <body>
      <h2 id="welcome"> welcome </h2>
      <% function refAttr(ref)
       {
         if (ref == null) {
           return {username: "None"} //put here all the attributes you want to cover
         }
         // ref path is divided by a "/ and contains the collection name and the unique id
         let database=locals[ref.path.split("/")[0]]
         for (var i=0;i<database.length;i++) {
           if (database[i].id == ref.path.split("/")[1] ) { //if found the specific id (which is unique)
              return database[i].data()
            }
          }
      }%>
      <table id="unitsTable">
        <tr>
          <th>Address</th>
          <th>Price per month</th>
          <th>Number Of Rooms</th>
          <th>...</th>
        </tr>
        <% for (var i=0 ;i < Units.length;i++) { %>
            <% if(Units[i].data().user_id._path.segments[1] == user_id) { %>
              <tr>
                <td><%= (Units[i].data().city + " street: " + Units[i].data().street
                  + " number: " + Units[i].data().house_number)  %></td>
                <td><%= Units[i].data().price %></td>
                <td><%= Units[i].data().rooms_num %></td>
                <td><button class="modalButton">More Details</button> </td>
              </tr>
              <!-- per unit modal -->
              <div class="modal">
                <!-- Modal content -->
                  <div class="modal-content">
                    <div class="modal-header">
                      <span class="close">&times;</span>
                      <h2>More details</h2>
                    </div>
                    <div class="modal-body">
                      <img alt="housing unit image"
                       src=<%= Units[i].data().images[0] %> width="100" height="100">  <br>
                        <label>address :<%= (Units[i].data().city + " street: " + Units[i].data().street
                          + " number: " + Units[i].data().house_number)  %></label><br>
                        <label>price per month: <%= Units[i].data().price %></label><br>
                        <label>number of rooms: <%= Units[i].data().rooms_num %></label><br>
                        <label>rent range(in months): <%= Units[i].data().min_rent_time %> - <%= Units[i].data().max_rent_time %> </label><br>
                        <label> description: <%= Units[i].data().description%></label><br>
                        <h3> contact info</h3>
                        <label> name: <%= refAttr(Units[i].data().user_id).username%></label><br>
                        <label> phone: <%= Units[i].data().phone%></label><br>
                        <label> email: <%= refAttr(Units[i].data().user_id).email%></label><br>
                        <form method="post" action="/homepage_renter/edit">
                            <input type="text" name="unitID" value="<%=Units[i].id%>" style="display: none;visibility: hidden;">
                            <input type="submit" class="button" value="Edit">
                        </form>
                        <form method="post" action="/homepage_renter/delete">
                            <input type="text" name="unitID" value="<%=Units[i].id%>" style="display: none;visibility: hidden;">
                            <input type="submit" class="button" value="Delete">
                            <input type="checkbox" required> delete?
                        </form>
                        <h3>Additional images:</h3>
                        <% for (var j=1 ;j<Units[i].data().images.length;j++) { %>
                          <img alt="more housing unit image" src= <%= Units[i].data().images[j] %> width="200" height="200">
                      <% } %>
                    </div>
                  </div>
              </div>
        <%  } %>
        <% } %>
      <%- include("./partials/firebase.ejs") %>
      <script type="text/javascript" src="../Utility/modal.js"></script>
      <script type="text/javascript" src="../Utility/user.js"></script>
    </body>
</html>
